<h1 class="title is-1 has-text-centered">Nieuwste recepten</h1>

<div class="container">
<%= will_paginate @collection, renderer: BulmaPagination::Rails %>
</div>
<%= render 'recipe', obj: @recipes %>
<div class="container">
<%= will_paginate @collection, renderer: BulmaPagination::Rails %>
</div>
