<% if obj.errors.any? %>
  <div class="notification is-danger">
    <button class="delete"></button>
    <%= pluralize(obj.errors.count, "error") %>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
