// @import "bulma";
//
// #logo {
//   font-size: 1.7em;
//   letter-spacing: -1px;
// }

.button.color-text {
  color: #6ab04c ;
}

.button.color-text:hover {
  color: #fff;
  background-color: #6ab04c;
  border-color: #fff;
}

.text-readable {
  font-size: 1.4rem;
}

.small-1 {
  font-size: .7rem;
}

// This is foor deleting the notification with jquery
.notification > button.delete {
  border: none;
}
.is-hidden2 {
  display: none;
}
// --------------------------------
