<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>ChefRecept</strong> by <a href="www.sandervrielink.nl">Sander Vrielink</a>.
      </p>
    </div>
  </div>
</footer>
