<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <%= link_to "ChefRecept", root_path, class: "navbar-item", id: "logo" %>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

<div id="navbarExampleTransparentExample" class="navbar-menu">
<div class="navbar-start">
  <div class="navbar-item has-dropdown is-hoverable">
    <%= link_to "Recepten", recipes_path, class:"navbar-link" %>
    <div class="navbar-dropdown is-boxed">
      <%= link_to "Recept toevoegen", new_recipe_path, class:"navbar-item" %>
      <hr class="navbar-divider">
      <%= link_to "Alle recepten", recipes_path, class:"navbar-item is-active" %>
    </div>
  </div>
</div>

<div class="navbar-end">
  <div class="navbar-item">
    <div class="field is-grouped">
      <p class="control">
        <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          <span>
            Registreren
          </span>
        </a>
      </p>
      <p class="control">
        <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
          <span class="icon">
            <i class="fas fa-download"></i>
          </span>
          <span>Inloggen</span>
        </a>
      </p>
    </div>
  </div>
</div>
</div>
</nav>
